.contacto {
  width: 100%;
}

.contacto-content {
  text-align: center;
  color: white;
}

.contacto-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contacto-content p {
  font-size: 1.1rem;
  opacity: 0.8;
}