.testimonios {
  width: 100%;
}

.testimonios-content {
  text-align: center;
  color: white;
}

.testimonios-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.testimonios-content p {
  font-size: 1.1rem;
  opacity: 0.8;
}